.idea/
.DS_Store
staticfiles/
.sass-cache/
MANIFEST
*.pyc
*.egg-info
db/
build/
dist/
local_settings.py
*.egg
*.tar.gz
www/static/css/*
*.scssc
*.sublime-project
*.sublime-workspace
*.sqlite3
.vagrant
wsgi.py
manage.py
celery.py
www/
*.swo
*.swp
old_data.json
.venv/
*.ipynb
